<md-sidenav  class="md-sidenav-right md-whiteframe-z2" md-component-id="right" id="right-menu">
    <div>
        <md-toolbar class="md-theme-light">
            <h2 class="md-toolbar-tools"><span>Settings</span></h2>
        </md-toolbar>
        <md-content >
            <md-divider></md-divider>

            <md-list>
                <md-list-item ng-repeat="word in words()" ng-click="changeWord(word)" class="word-line" ng-class="{'selected': runningWord().id === word.id }" layout="row" layout-align="center center">
                    <!--ng-style="{'fill': runningWord() === word.value ? 'green' : '#BBBBBB'}"-->

                    <ng-md-icon icon="sync"
                                flex="10"
                                ng-class="{'running': !word.isWait }"
                                flex="10"
                            ></ng-md-icon>

                    <div class="word-name" flex="70">{{word.value}}</div>

                    <ng-md-icon icon="play_arrow"
                                class="play-icon"
                                ng-show="word.isMine === true && word.isWait === true"
                                ng-click="resumeWord(word)"
                                flex="10"></ng-md-icon>

                    <ng-md-icon icon="pause"
                                class="pause-icon"
                                ng-show="word.isMine === true && word.isWait === false"
                                ng-click="pauseWord(word)"
                                flex="10"></ng-md-icon>

                    <ng-md-icon icon="close"
                                class="close-icon"
                                ng-show="word.isMine === true"
                                ng-click="deleteWord(word)"
                                flex="10"></ng-md-icon>
                </md-list-item>
            </md-list>

            <md-divider></md-divider>

            <div layout="row"  layout-align="center center">
                <md-button ng-click="showPopup();toggleRight()" class="md-primary">Add or change #keyWord</md-button>
            </div>
        </md-content >
        <md-toolbar class="md-theme-light">
            <h2 class="md-toolbar-tools">
                <span>Graph Config</span>
            </h2>
        </md-toolbar>
        <md-content >
            <md-subheader>
                <div layout>
                    <div flex="50" layout layout-align="center center">
                        <h2>Gravity</h2>

                    </div>
                    <md-switch flex="50"  ng-model="gravity.enabled" aria-label="Gravity Switch">
                        Enabled
                    </md-switch>
                </div>
            </md-subheader>



            <div layout>
                <md-slider flex="70" class="md-warn" min="0.1" step="0.02"  max="1" ng-model="gravity.value" aria-label="gravite" ></md-slider>
                <div flex="10" layout layout-align="center center">
                    <span clas="md-body-1">{{gravity.value}}</span>
                </div>
            </div>


        </md-content>
    </div>
</md-sidenav>
