<md-sidenav  class="md-sidenav-right md-whiteframe-z2" md-component-id="right" id="right-menu">
    <div>
        <md-toolbar class="md-theme-light">
            <h2 class="md-toolbar-tools"><span>Settings</span></h2>
        </md-toolbar>
        <md-content >
            <md-divider></md-divider>

            <md-list>
                <md-list-item ng-repeat="word in words()" ng-click="changeWord(word)" class="word-line" ng-class="{'selected': runningWord().id === word.id }" layout="row" >
                    <!--ng-style="{'fill': runningWord() === word.value ? 'green' : '#BBBBBB'}"-->

                        <ng-md-icon icon="sync"
                                    flex="10"
                                    ng-class="{'running':word.running }"
                                   ></ng-md-icon>
                        <p class="word-name" flex="80">{{word.value}}</p>

                    <ng-md-icon icon="play"
                                class="play-icon"
                                flex="10"
                                ng-show="word.isMine === true && word.running === false"
                                ng-click="resumeWord(word)"></ng-md-icon>
                    <ng-md-icon icon="pause"
                                class="pause-icon"
                                flex="10"
                                ng-show="word.isMine === true && word.running === true"
                                ng-click="pauseWord(word)"></ng-md-icon>
                    <ng-md-icon icon="close"
                                class="close-icon"
                                flex="10"
                                ng-show="word.isMine === true"
                                ng-click="deleteWord(word)"></ng-md-icon>
                </md-list-item>
            </md-list>

            <md-divider></md-divider>

            <md-button ng-click="showPopup();toggleRight()" class="md-primary">Add or change #keyWord</md-button>
        </md-content >
        <md-toolbar class="md-theme-light">
            <h2 class="md-toolbar-tools">
                <span>Graph Config</span>
            </h2>
        </md-toolbar>
        <md-content >
            <md-subheader>Gravity : </md-subheader>
            <md-slider flex class="md-warn" min="0.1" step="0.02"  max="1" ng-model="gravity.value" aria-label="gravite" ></md-slider>
            <md-button ng-click="restoreHiddenNodes()" class="md-primary">Restore visibility</md-button>

        </md-content>
    </div>
</md-sidenav>
