<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="content/favicon.ico">
    <title><%- title %></title>
</head>
<body>
<iframe src="https://docs.google.com/forms/d/1NBucJhqIDVCGl2zwe-Sr-Ges-UAVoVtHt5F69El7zWQ/viewform?embedded=true"
        width="760"
        height="1383"
        frameborder="0"
        marginheight="0"
        marginwidth="0">Chargement en cours...
</iframe>
</body>
</html>
