<!DOCTYPE html>
<html ng-app="Mastering-Data-Mining-and-Analytics">
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">
        <script src="//cdnjs.cloudflare.com/ajax/libs/SVG-Morpheus/0.1.8/svg-morpheus.js"></script>
        <!--Script Module-->
        <% dependances.scripts.forEach(function(script, index) { %>
        <script src="<%= script %>.js"></script>
        <% }); %>

        <!--CSS Module-->
        <% dependances.css.forEach(function(css, index) { %>
        <link rel="stylesheet" type="text/css" href="<%= css %>.css">
        <% }); %>

    </head>
<body ng-controller="AppCtrl" layout="row">
    <div flex="100">
        <top-bar flex="100" tweet-count="tweetCount" ></top-bar>
        <div flex="100" >
            <representation words="words" ></representation>
        </div>
    </div>
</body>
</html>
