body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.home-container{
  height: 100%;
  width: 100%;
  img{
    height: 100%;
    width: 100%;
  }
  .title{
      position: absolute;
      top: 50%;
      width: 30%;
      text-align: center;
      left: 35%;
  }
}