body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #FBFBFB;
}
.home-container {
  height: 100%;
  width: 100%;
}
.home-container img {
  height: 100%;
  width: 100%;
}
.home-container .title {
  position: absolute;
  top: 50%;
  width: 30%;
  text-align: center;
  left: 35%;
}
#topBar md-slider {
  margin: auto 20px;
}
representation .link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}
representation .node:hover {
  cursor: pointer;
}
representation .node .circle {
  stroke: #fff;
  stroke-width: 1.5px;
}
representation .node text {
  font: 13px sans-serif;
  pointer-events: none;
}
#menu path {
  fill: white;
}
#menu svg {
  width: 36px;
  height: 36px;
}
.tweetCounter {
  padding: 0 20%;
}
.tweetCounter md-icon {
  width: 36px;
  height: 36px;
}
.tweetCounter md-icon path {
  fill: white;
}
.tweetCounter md-icon svg {
  width: 36px;
  height: 36px;
}
#graphTps {
  position: relative;
}
#graphTps svg {
  font: 10px sans-serif;
  position: absolute;
}
#graphTps .line {
  fill: none;
  stroke: white;
  stroke-width: 1.5px;
}
#graphTps .axis path,
#graphTps .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.tweet-peer-seconde {
  line-height: 1.5;
}
