body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.home-container{
  height: 100%;
  width: 100%;
  img{
    height: 100%;
    width: 100%;
  }
  .title{
    position: absolute;
    top: 50%;
    width: 30%;
    text-align: center;
    left: 35%;
  }
}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.node circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}

.tweetCounter{
  md-icon{
    width: 36px;
    height: 36px;
    path{
      fill: white;
    }
    svg{
      width: 36px;
      height: 36px;
    }
  }
}

#graphTps{
  position: relative;
  svg{
    font: 10px sans-serif;
    position: absolute;
  }
  .line {
    fill: none;
    stroke: white;
    stroke-width: 1.5px;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
}
