<md-dialog aria-label="Mot" flex="50">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add word</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hide()">
                <ng-md-icon icon="close" aria-label="Close dialog"
                            class="md-secondary"
                            style="fill: white;"
                            size="30"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form name="trackForm" ng-submit="validate()">
        <md-dialog-content class="sticky-container">
                <md-subheader class="md-sticky-no-effect">
                    #keyword
                </md-subheader>
                <div>
                    <div layout="row">
                        <md-input-container flex="100">
                            <label>Please enter a keyword to stream.</label>
                            <input name="keyword" id="keywordInput" ng-model="addedKeyWord.name" ng-minlength="4" required md-maxlength="30">
                            <div ng-messages="trackForm.keyword.$error">
                                <!--<div ng-message="required" ng-if="tried">Please enter a keyword.</div>-->
                                <div ng-message="md-maxlength">Max size is 30 characters.</div>
                                <div ng-message="minlength">Min size is 4 characters.</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div layout="row">
                        <md-select placeholder="Language" ng-model="addedKeyWord.lang" name="lang" required flex="30">
                            <md-option value="fr">Français</md-option>
                            <md-option value="en">English</md-option>
                        </md-select>
                        <md-input-container flex="20">
                            <label>Occurence</label>
                            <input required type="number" step="1" ng-init="addedKeyWord.occurence=5" name="occurence" ng-model="addedKeyWord.occurence" min="5" max="100">
                        </md-input-container>
                    </div>
                </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <md-button type="submit" class="md-primary">Valider</md-button>
        </div>
    </form>

</md-dialog>