<md-dialog aria-label="Mot" flex="50">
    <md-dialog-content class="sticky-container">
        <md-subheader class="md-sticky-no-effect">Choose your track!</md-subheader>
        <div layout="column" layout-align="center center" flex ng-show="keysWord.length > 0">
            <md-select ng-model="selectedKeyWord" placeholder="Selectionne un mot!" >
                <md-option ng-repeat="keyWord in keysWord" ng-value="keyWord.id">{{keyWord.value}}</md-option>
            </md-select>
        </div>
        <div layout="column" layout-align="center center">
            <md-subheader class="md-sticky-no-effect">Add word !</md-subheader>
            <md-input-container>
                <label>Ajoute un #mot</label>
                <input ng-model="addedKeyWord.name" ng-minlength="4">
            </md-input-container>

            <div layout="row"  layout-align="space-between center">
                <md-input-container flex="40">
                    <md-select ng-model="addedKeyWord.lang" ng-init="addedKeyWord.lang='fr'" name="lang" required>
                        <md-option value="fr">french</md-option>
                        <md-option value="en">English</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="40">
                    <label>Occurence</label>
                    <input required type="number" step="1" ng-init="addedKeyWord.occurence=5" name="occurence" ng-model="addedKeyWord.occurence" min="5" max="100">
                </md-input-container>
            </div>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="validate()" class="md-primary">Valider</md-button>
    </div>
</md-dialog>