<div layout="row">
<div layout="column" layout-fill>
    <md-toolbar id="topBar">
        <div class="md-toolbar-tools">
            <span>Mastering Data Mining & Analytics</span>
            <!--<span flex></span>-->
            <div  flex layout="row" layout-wrap>
                <div flex="30">
                    <div class="tweetCounter" >
                        <md-icon md-svg-src="images/twitter.svg" alt="twitter"></md-icon>
                        <span>{{tweetCount.value}}</span>

                    </div>
                </div>
                <div flex="70">
                    <tweet-heartbeat tweet-count="tweetCount" ></tweet-heartbeat>
                </div>
            </div>
            <md-button ng-click="toggleRight()" aria-label="Settings">
                <ng-md-icon icon="settings_applications"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Settings</h1>
        </md-toolbar>
        <md-content ng-controller="RightCtrl" layout-padding>
            <form>
                Keyword :
                <md-input-container>
                    <label for="testInput">#TrackMe</label>
                    <input type="text" id="testInput"
                           ng-model="data" md-sidenav-focus>
                </md-input-container>
                    Gravity : <md-slider flex class="md-warn"min="0.05" step="0.02"  max="1" ng-model="gravity.value" class=""></md-slider>
                </md-slider>
            </form>

            <md-button ng-click="close()" class="md-primary" aria-label="Close">
                <ng-md-icon icon="cloud_done"></ng-md-icon>
            </md-button>
        </md-content>
    </md-sidenav>
</div>
</div>